body, html { width: 100%; height: 100%; margin: 0; padding: 0; overflow-x: hidden; }
a, a:hover, a:active, a:focus, a:visited { -webkit-tap-highlight-color:rgba(0,0,0,0); text-decoration: none; color: #666; }

/*首页 start*/
.container { display: -webkit-flex; /* Safari */ display: flex; flex-direction: column;	/*justify-content: center;*/ align-items: center; height: calc(100% - 50px); background-image: url('../img/index-bg.jpg'); background-size: 100%; font-size: 16rem; padding-top: 50px; }
.container img { width: 20%; }
.index_intro { height: auto; width: 80%; text-align: center; font-size: 16rem; color: #fff; line-height: 26px; margin: 20px auto 50px; }
.menu_body { width: 80%; padding: 10px; background-color: #c77f77; }
.menu_body a { background-color: #974940; display: block; width: 100%; margin: 10px auto; }
.menu_body a:first-child { margin-top: 0; background-color: transparent; }
.menu_body a:last-child { margin-bottom: 0; }
.menu_body a p { margin: 0; padding: 0 0 10px; color: #fff; text-align: center; font-size: 12rem; }
.menu_body a p:first-child { font-size: 18rem; padding: 10px 0 0; }
/*首页 end*/

/*商城主页 start*/
.shop_list { margin-top: 50px; }
.shop_list>p { text-align: center; color: #666; font-size: 16rem; margin: 5px 0; }
/*标题*/
.nav { width: 100%; height: 50px; position: fixed; top: 0; z-index: 99; text-align: center; background-color: #dabfae; }
.nav .go_back { position: absolute; display: block; top: 18px; left: 20px; height: 13px; width: 13px; border-left: 2px solid #000; border-bottom: 2px solid #000; transform: rotate(45deg); }
.nav p { height: 50px; line-height: 50px; margin: 0; font-size: 20rem; padding: 5px auto; }

/*搜索*/
.search { position: relative; height: 40px; width: 100%; }
.search input { height: 30px; width: calc(100% - 60px); outline: none; -webkit-appearance: none; border: none; border-bottom: 1px solid #ccc; padding: 5px 60px 5px 10px; }
.search img { position: absolute; width: 25px; top: 8px; right: 18px; }

/*轮播图*/
.swiper-container { width: calc(100% - 10px); margin: 5px; overflow: hidden; }
.swiper-slide a { display: block; width: 100%; height: 100%; }
.swiper-slide img { width: 100%; height: 100%; }
.swiper-container .swiper-pagination { text-align: right }
.swiper-container .swiper-pagination-bullet { width: 6px; height: 6px; border-radius: 0; }
.swiper-container .swiper-pagination-bullet-active { background: #a9856d; }

/*分类*/
.classify { font-size: 0; }
.classify a { height: 70px; margin: 5px; position: relative; display: inline-block; width: calc(50% - 10px); background-color: no-repeat; background-size: cover; }
.classify a div { width: 40%; float: right; }
.classify a p { margin: 0px; font-size: 14rem; color: #000; }
.classify a p:first-child { font-size: 18rem; margin-top: 15px }
.class_wine { background-image: url('../img/shop_list_02.jpg'); }
.class_tools { background-image: url('../img/shop_list_03.jpg'); }

/*产品介绍*/
.product_list { display: -webkit-flex; /* Safari */ display: flex; flex-wrap: wrap; font-size: 0; margin-bottom: 60px; }
.product { width: calc(50% - 10px); margin: 5px; display: inline-block; }
.product>a { width: 100%; height: 100%; }
.product img { width: 100%; }
.product_name { background-color: #333; color: #fff; padding: 5px 10px; font-size: 10rem; margin: 0; overflow: hidden; }
.product_intro { width: calc(100% - 20px); padding: 10px; background-color: #f2f2f2; }
.product_intro .tab { font-size: 10px; margin: 0 0 10px; }
.product_intro .tab span { border: 1px solid #333; padding: 1px 5px; border-radius: 3px; margin-right: 5px; }
.product_intro p:last-child { position: relative; font-size: 12rem; margin: 10px 0 0; }
.price { font-size: 16rem; }
.cart { display: block; width: 20px; height: 20px; position: absolute; top: 0; right: 5px; background-image: url(../img/shopping_cart.png); background-size: 100%; }
/*商城主页 end*/

/*导航栏 start*/
.nav_list { position: fixed; bottom: 0; width: 100%; height: 50px; display: -webkit-flex; /* Safari */ display: flex; justify-content: space-around; background-color: #fff; box-shadow: 0 -1px 1px rgba(51, 51, 51, .2); }
.nav_list a { font-size: 18rem; display: inline-block; width: 100%; line-height: 50px; text-align: center; }
.nav_list a.active { color: #d9bfad; -webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }
/*导航栏 end*/

/*产品列表 start*/
.nav_search { display: block; width: 20px; height: 20px; position: absolute; right: 20px; top: 15px; background-image: url('../img/search_black.png'); background-size: 100%; }
.classify_nav { display: -webkit-flex; /* Safari */ display: flex; justify-content: space-around; background-color: #fff; box-shadow: 0 1px 1px rgba(51, 51, 51, .2); }
.classify_nav a { font-size: 16rem; display: inline-block; width: 100%; line-height: 50px; text-align: center; }
.classify_nav a.active { color: #d9bfad; -webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }
/*产品列表 end*/

/*产品详情 start*/
.product_details { margin-top: 55px }
.product_details .swiper-container { margin-bottom: 0; }
.product_details>p { margin: 0 5px; }
.product_details .product_intro { margin: 0 5px; width: calc(100% - 30px); font-size: 12rem; }
.product_details .product_intro p:first-child { margin-top: 0; }
.product_details>img { width: calc(100% - 10px); margin: 0 5px; }
.product_details p.intro_words { font-size: 12rem; text-indent: 24px; margin: 10px 5px; }
/*产品详情 end*/

/*购物车 start*/
.nav .delete { position: absolute; right: 15px; font-size: 14rem; color: #000; padding: 0 5px; }
.shopping_cart { margin-top: 55px; }
.cart_item { margin: 5px; position: relative; display: -webkit-flex; /* Safari */ display: flex; }
.cart_item a.selection { display: block; width: 20px; height: 20px; top: calc(50% - 10px); left: 10px; position: absolute; background-size: 100%; background-image: url('../img/unselected.png'); }
.cart_item a.selection.selected { background-image: url('../img/selected.png'); }
.cart_item img { width: 130px; height:120px; }
.cart_item>div { width: calc(100% - 130px); height: 120px; }
.cart_item .product_name { height: 15px; }
.cart_item .product_intro { height: calc(100% - 41px); width: calc(100% - 16px); padding: 8px; }
.cart_item .product_intro .price { font-size: 12rem; }
.cart_item p:last-child { font-size: 12rem; }
.cart_item .sum { display: inline-block; width: 35px; /*margin-right: 10px*/ }
.cart_item .sub,.cart_item .num,.cart_item .add { display:inline-block; width: 15px; padding: 5px; text-align: center }
.cart_item .add { background-color: #dabfae; margin-left: 5px }

/*购物车 end*/
